# Local MySQL environment variables
LOCAL_DB_NAME=
LOCAL_DB_USER=
LOCAL_DB_USER_PASSWORD=

# Docker MySQL environment variables
DOCKER_MYSQL_PORT=3366
DOCKER_DB_NAME=TerminPilot
DOCKER_DB_USER=User
DOCKER_DB_USER_PASSWORD=UserPassword
DOCKER_DB_ROOT_PASSWORD=RootPassword

# Google OAuth 2.0 Credentials
GOOGLE_OAUTH_CLIENT_ID=<Client.id>
GOOGLE_OAUTH_CLIENT_SECRET=<client-secret>
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8080/api/google/callback

# GitHub environment variables for GitHub Packages
GITHUB_ACTOR=<GITHUB_USERNAME>
# needed scope for api spec download: read:packages
GITHUB_TOKEN=<GITHUB_PERSONAL_ACCESS_TOKEN>
