# Local MySQL environment variables
LOCAL_DB_NAME=
LOCAL_DB_USER=
LOCAL_DB_USER_PASSWORD=

# Docker MySQL environment variables
DOCKER_MYSQL_PORT=3366
DOCKER_DB_NAME=TerminPilot
DOCKER_DB_USER=User
DOCKER_DB_USER_PASSWORD=UserPassword
DOCKER_DB_ROOT_PASSWORD=RootPassword

# Google Calendar API environment variables
GOOGLE_CALENDAR_ID=
