{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "docker build -t ghcr.io/${process.env.GITHUB_REPOSITORY_OWNER}/terminpilot-backend:${nextRelease.version} -t ghcr.io/${process.env.GITHUB_REPOSITORY_OWNER}/terminpilot-backend:latest . && docker push ghcr.io/${process.env.GITHUB_REPOSITORY_OWNER}/terminpilot-backend:${nextRelease.version} && docker push ghcr.io/${process.env.GITHUB_REPOSITORY_OWNER}/terminpilot-backend:latest && mv build/libs/*.jar build/libs/terminpilot-backend-${nextRelease.version}.jar"
      }
    ],

    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build/libs/terminpilot-backend-*.jar",
            "label": "terminpilot-backend-${nextRelease.version}.jar"
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}